.providers { 
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  .delivery-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid var(--gray);
    padding: 1rem;
    background-color: white;
    border-radius: 4px;
    .delivery-price {
      font-size: clamp(1.25rem, 1.75vw, 2rem);
    }
    p {
      font-weight: bold;
      color: var(--orange-red);
    }
  }
  .active {
    border: 2px solid var(--orange-red);
  }
}