.product-card {
  background-color: #fff;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 8px;
  img {
    width: 100%;
    object-fit: cover;
  }
  .product-name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .product-price {
    font-weight: bold;
    font-size: 20px;
  }
  .product-shop {
    font-size: 12px;
    font-weight: bold;
  }
  .view-details-button {
    border: 1px solid #41485f;
    background: none;
    padding: 0.5rem;
    font-weight: bold;
  }
}