.wishlist-modal {
  min-width: 30vw;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  padding-inline: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  .modal-header {
    background-color: #f4f5f7;
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }
  div, h2, form {
    margin-bottom: 1rem;
  }
}